[submodule "miguelfervi"]
	path = miguelfervi
	url = https://github.com/miguelfervi/ProjectCC.git
[submodule "tianyuan87"]
	path = tianyuan87
	url = https://github.com/tianyuan87/ProjectCC.git
[submodule "cristobal"]
	path = cristobal
	url = https://github.com/JCristobal/ProjectCC.git
[submodule "enpi"]
	path = enpi
	url = git://github.com/enpi/ProjectCC.git
