<!DOCTYPE html>
<head>
	<title>Practica 3 - DAI</title>
	<meta content="jmgn" name="author" />
	<meta charset="UTF-8" />
	<link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<header>
		<div id="titulo"><img id="img_principal" src="../static/makoLogo.png" /></div>

		<form action='login' method='post'>
			${formulario}
			<a href='logout'>Logout</a>
		</form>

	</header>


	<div id="pagina">

		<div id="menu">
		  <ul>
		    <li><a href="login" title="Pagina principal">Pagina principal</a></li>
		    <li><a href="registro" title="Registrarse">Registro</a></li>
		    <li><a href="ver_perfil" title="Ver datos">Ver datos de registro</a></li>
		    <li><a href="editar_perfil" title="Editar datos">Editar datos de registro</a></li>
		    <li><a href="mas_visitadas" title="Editar datos">Paginas mas visitadas</a></li>
		    <li><a href="rss" title="rss">RSS</a></li>
		    <li><a href="highchart" title="highchart">Highchart</a></li>
			<li><a href="mapa" title="mapa">Google Maps</a></li>
		  	<li><a href="twitter" title="Twitter">Twitter</a></li>
		  </ul>
		</div>

		<div id="contenido">

			<h2><center> Bienvenidos a esta pagina sublime </center></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis urna in turpis euismod euismod et vel elit. Quisque condimentum risus et nulla luctus maximus. Integer facilisis iaculis urna in eleifend. Maecenas neque nunc, faucibus vitae pharetra at, sollicitudin et nulla. Quisque venenatis eros sapien, at congue libero consectetur eu. Nullam et pretium purus. Fusce eget elit sit amet eros accumsan cursus. Fusce dui mi, rutrum ac porttitor feugiat, molestie eu lectus. Praesent eu sem egestas, elementum magna eu, pellentesque felis. Curabitur congue sem purus, sit amet fringilla felis gravida non. Phasellus lectus ex, viverra sit amet egestas a, sagittis non sapien. Donec euismod efficitur massa, eu euismod turpis finibus nec. Donec odio eros, sodales commodo elementum vel, tristique sit amet nunc. Aenean nec rutrum lacus. Phasellus tristique diam ac accumsan lobortis. Vivamus cursus porttitor condimentum.</p>

		</div>

		<div id="footer">
			<p>Autor: <b>jmgn</b></p>
		</div>

		
	</div>


</body>



</html>